body {
    margin: 0px;
    padding: 0px;
    background-image: url('/WBS_UDA/imgs/mainBG.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#logoDiv h1 {
    margin: 10px;
    padding: 0px;
    color: #D34A4A;
    font-family: 'Gill Sans', sans-serif;
}

#buttonDiv h1 {
    color: #D34A4A;
    font-family: 'Gill Sans', sans-serif;
} 